 <h2>{{title}}</h2>

{{#view Blogger.AboutView contentBinding="this"}}
<div class=" mycontainer">
    <div id="main" role="main">
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li><img src="img/swim1.jpg" /></li>
                    <li><img src="img/swim14s.jpg" /></li>
                    <li><img src="img/slider1.jpg" /></li>
                    <li><img src="img/slider2.jpg" /></li>
                    <li><img src="img/slider3.jpg" /></li>
                    <li><img src="img/slider4.jpg" /></li>
                </ul>
            </div>
        </section>
    </div>
</div>
{{/view}}
