<div class="container">
    <nav class="navbar navbar-default" role ='navigation'>
        <ul class ="nav navbar-nav">
          <li>{{#link-to 'about'}}jQuery (Directive Replacement){{/link-to}}</li>
          <li>{{#link-to 'login'}}Data Binding{{/link-to}}</li>
          <li>{{#link-to 'contact'}}Nested Routing{{/link-to}}</li>
          
        



        </ul>
    </nav>

    <div class="emberlogo"><img src="./img/Ember_logo.png" width="75" height="75" /></div>
    {{outlet}}

</div>

