
    
         
           <h3>Insert a Page within a Page (Within a Page) using Ember Nested Routes</h3>
            <ul>
                <li>{{#link-to 'phone'}}Insert Page{{/link-to}}</li>
                <li>{{#link-to 'video1'}}Insert Page{{/link-to}}</li>
                

            </ul>

</div>
<div class="col-md-6">
  {{outlet}}
</div>
</div>
