


<div class="row">
       <div class="col-md-6">

         <label for="title">         Please Enter Your Membership Number       </label>
         {{input id ="title" class ="form-control" value = hello}}

         <h1>{{hello}}</h1>


         <div>
           {{#link-to 'about' }}<button class="btn btn-primary">Submit</button> {{/link-to}}
         </div>

 
  <div class="row>"

  <div class="col-md-6">
    
  <label for="hhhh">         Please Login with Your Email Address      </label>
  {{input id ="hhhh" class ="form-control" value = myval}}

  <h2>{{myval}}</h2>

  <div class ="gmap_button_panel"> {{#link-to 'about' }}<button class="btn btn-primary">Submit</button> {{/link-to}}
  </divt>
         







         