<h1>Find Our Pool Locations</h1>
<div class="gmap">
    <div>
        <h4 id="l1"></h4>

       
        <div class="row">
            <div>
                <div id="map"></div>
                <!--Removed style to CSS-->
            </div>
        </div>
      
      <div>
            <div>
                <div class="gmap_dropdown">
                    <select name="mydropdown" id="addressinput" class ="selectpicker">
                        <option value="Parnell Street Dublin">Parnell Street, Dublin,</option>
                        <option value="Arjun Nagar, Agra,India">Arjun Nagar, Agra, India</option>
                        <option value="Malakpet,Hyderbad, India">Malakpet, Hyderabad, India</option>
                        <option value="Lokhandwala Cirlcle, Mumbai,India">Lokhandwala Circle, Mumbai,India</option>
                        <option value="Cape Town City Centre,Cape Town, South Africa">Cape Town City Centre, South Africa</option>
                        <option value="Times Square, New York">Times Square, New York</option>
                        <option value="Swinburne Avenue, Victoria, Australia">Swinburne Avenue, Victoria, Australia</option>
                    </select>
                </div>
                <div>
                </div>
            </div>
        </div>
      
        <div class="gmap_button_panel">
            <button class="btn btn-primary"
            {{action 'findLocation'}}>Find  </button>          
        </div>
    </div>
</div>