<h2>{{title}}</h2>


<div>
  <button id ="target" class="btn btn-primary"
    {{action 'workoutStatistics'}} >Exercise </button>


  <button class="btn btn-primary"
    {{action 'workoutStatistics1'}} >Workout </button>

  <button class="btn btn-primary"
   {{ action 'workoutStatistics2'}} >Calories </button>
  {{#view Blogger.VencanvasView contentBinding="this"}}


<div id="chartContainer_1">
  {{/view}}
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
